<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://appwatien.github.io/80.com.stxapp.Teste500.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://appwatien.github.io/1024.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.stxapp.Teste500</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>❬Teste 500❭</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>












<string>https://cdn.appvalley.vip/53.com.mobivio.cutecutpro.ipa?1536048682</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.mobivio.cutecutpro</string>
<key>bundle-version</key>
<string>1.8.5</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string><![CDATA[Cute Cut Pro]]></string>
</dict>
</dict>
</array>
</dict>
</plist>
